.header {
  padding: 7rem 1rem 3rem 1rem;
  cursor: default;
}

.header div {
  font-size: 36pt;
  text-align: center;
  font-family: "Montserrat";
  font-weight: bold;
}

@media screen and (max-width: 420px) {
  .header div {
    font-size: 30pt;
  }
}

.container {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23e7e7e7' fill-opacity='1'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  cursor: default;
}

.main {
  text-align: center;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.achievement {
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.14), 0px 1px 9px 0px rgba(0, 0, 0, 0.12);
  text-align: left;
  transition: box-shadow 200ms ease-out;
}

.imageContainer {
  position: relative;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  /* from {
    opacity: 1;
  } */
  to {
    opacity: 0;
  }
}

.achievement:hover .imageContainer::after {
  animation: fadeIn 200ms ease-out forwards;
}

.imageContainer::after {
  display: flex;
  cursor: pointer;
  /* place-items: center; */
  align-items: flex-end;
  padding: 0.5rem 1rem;
  content: "Read More";
  font-weight: bold;
  color: white;
  font-size: x-large;
  position: absolute;
  top: 0;
  /* opacity: 0; */
  bottom: 0.3rem;
  left: 0;
  right: 0;
  animation: fadeOut 200ms ease-out forwards;
  background-color: #00000088;
}

.achievement:hover {
  box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.2),
    0px 1px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 30px 0px rgba(0, 0, 0, 0.12);
}

.achievement:active {
  box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.14), 0px 1px 9px 0px rgba(0, 0, 0, 0.12);
}

.achievement section {
  padding: 0.5rem 0.75rem 0.75rem 0.75rem;
  font-size: 11pt;
}

.achievement header {
  font-weight: bold;
  color: #333;
  font-size: 12pt;
}

.achievement img {
  cursor: pointer;
  width: 100%;
  max-height: 350px;
  object-fit: cover;
}

.footer {
  text-align: right;
  margin-top: 0.25rem;
  font-size: 10pt;
  color: #444;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.link {
  cursor: pointer;

  margin-top: 0.5rem;
  color: #777;
  transition: color 200ms ease-out;
}

.link:hover {
  color: #444;
}
